Service References/ServiceReference1/WebService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1927/WebService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/myRequirementsWebService" />
  <xs:import schemaLocation="http://localhost:1927/WebService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/myRequirementsWebService.Data" />
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LoginResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateNewUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/myRequirementsWebService" minOccurs="0" name="user" nillable="true" type="q1:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateNewUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateNewUserResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecoverLostPasswordByEmail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="address" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecoverLostPasswordByEmailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RecoverLostPasswordByEmailResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllUsers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SessionID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllUsersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/myRequirementsWebService" minOccurs="0" name="getAllUsersResult" nillable="true" type="q2:ArrayOfUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OverrideLoginAs">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SessionID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OverrideLoginAsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="OverrideLoginAsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUsers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SessionID" nillable="true" type="xs:string" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/myRequirementsWebService" minOccurs="0" name="uUsers" nillable="true" type="q3:ArrayOfUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUsersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateUsersResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SessionID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteUserResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCurrentUserInformation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SessionID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCurrentUserInformationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/myRequirementsWebService" minOccurs="0" name="getCurrentUserInformationResult" nillable="true" type="q4:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllSRP">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SessionID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllSRPResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/myRequirementsWebService.Data" minOccurs="0" name="GetAllSRPResult" nillable="true" type="q5:ArrayOfRequirment_PatternsAndCategoriesAndExamples" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateNewSRP">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SessionID" nillable="true" type="xs:string" />
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/myRequirementsWebService" minOccurs="0" name="srp" nillable="true" type="q6:Requirement" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateNewSRPResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateNewSRPResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSRP">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SessionID" nillable="true" type="xs:string" />
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/myRequirementsWebService.Data" minOccurs="0" name="req" nillable="true" type="q7:Requirment_PatternsAndCategoriesAndExamples" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSRPResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateSRPResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSRP">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SessionID" nillable="true" type="xs:string" />
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/myRequirementsWebService" minOccurs="0" name="srp" nillable="true" type="q8:Requirement" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSRPResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteSRPResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllSDP">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SessionID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllSDPResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/myRequirementsWebService.Data" minOccurs="0" name="GetAllSDPResult" nillable="true" type="q9:ArrayOfPattern_RequirementAndCategories" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateNewSDP">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SessionID" nillable="true" type="xs:string" />
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/myRequirementsWebService" minOccurs="0" name="sdp" nillable="true" type="q10:Pattern" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateNewSDPResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateNewSDPResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSDP">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SessionID" nillable="true" type="xs:string" />
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/myRequirementsWebService.Data" minOccurs="0" name="pat" nillable="true" type="q11:Pattern_RequirementAndCategories" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSDPResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateSDPResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSDP">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SessionID" nillable="true" type="xs:string" />
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/myRequirementsWebService" minOccurs="0" name="sdp" nillable="true" type="q12:Pattern" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSDPResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteSDPResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCategories">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SessionID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCategoriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/myRequirementsWebService.Data" minOccurs="0" name="GetAllCategoriesResult" nillable="true" type="q13:ArrayOfCategories_RequirementsAndPatterns" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateNewCategorie">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SessionID" nillable="true" type="xs:string" />
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/myRequirementsWebService" minOccurs="0" name="categorie" nillable="true" type="q14:Categorie" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateNewCategorieResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateNewCategorieResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCategorie">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SessionID" nillable="true" type="xs:string" />
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/myRequirementsWebService.Data" minOccurs="0" name="catRel" nillable="true" type="q15:Categories_RequirementsAndPatterns" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCategorieResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateCategorieResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCategorie">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SessionID" nillable="true" type="xs:string" />
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/myRequirementsWebService" minOccurs="0" name="categorie" nillable="true" type="q16:Categorie" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCategorieResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteCategorieResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addPatternAndRequirementRelation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SessionID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="reqID" type="xs:int" />
        <xs:element minOccurs="0" name="patternID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addPatternAndRequirementRelationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addPatternAndRequirementRelationResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addPatternAndPrivateRequirementRelation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SessionID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="reqID" type="xs:int" />
        <xs:element minOccurs="0" name="patternID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addPatternAndPrivateRequirementRelationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addPatternAndPrivateRequirementRelationResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="removePatternandRequirementRelation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SessionID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="patternID" type="xs:int" />
        <xs:element minOccurs="0" name="requirementID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="removePatternandRequirementRelationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="removePatternandRequirementRelationResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="removePatternandPrivateRequirementRelation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SessionID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="patternID" type="xs:int" />
        <xs:element minOccurs="0" name="requirementID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="removePatternandPrivateRequirementRelationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="removePatternandPrivateRequirementRelationResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addCategoryAndRequirementRelation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SessionID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="reqID" type="xs:int" />
        <xs:element minOccurs="0" name="categoryID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addCategoryAndRequirementRelationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addCategoryAndRequirementRelationResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addCategoryAndPrivateRequirementRelation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SessionID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="reqID" type="xs:int" />
        <xs:element minOccurs="0" name="categoryID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addCategoryAndPrivateRequirementRelationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addCategoryAndPrivateRequirementRelationResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="removeCategoryAndRequirementRelation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SessionID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="categoryID" type="xs:int" />
        <xs:element minOccurs="0" name="requirementID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="removeCategoryAndRequirementRelationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="removeCategoryAndRequirementRelationResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="removeCategoryAndPrivateRequirementRelation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SessionID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="categoryID" type="xs:int" />
        <xs:element minOccurs="0" name="requirementID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="removeCategoryAndPrivateRequirementRelationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="removeCategoryAndPrivateRequirementRelationResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addNewRequirementExampleByRequirmentID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SessionID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="reqID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addNewRequirementExampleByRequirmentIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addNewRequirementExampleByRequirmentIDResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="removeRequirementExampleByRequirementID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SessionID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="requirementID" type="xs:int" />
        <xs:element minOccurs="0" name="exampleID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="removeRequirementExampleByRequirementIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="removeRequirementExampleByRequirementIDResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addCategoryAndDesignRelation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SessionID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="patID" type="xs:int" />
        <xs:element minOccurs="0" name="categoryID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addCategoryAndDesignRelationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addCategoryAndDesignRelationResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="removeCategoryAndPatternRelation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SessionID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="categoryID" type="xs:int" />
        <xs:element minOccurs="0" name="patternID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="removeCategoryAndPatternRelationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="removeCategoryAndPatternRelationResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCategoryAndRequirementRelationsBycategoryID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SessionID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="categoryID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCategoryAndRequirementRelationsBycategoryIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/myRequirementsWebService" minOccurs="0" name="getCategoryAndRequirementRelationsBycategoryIDResult" nillable="true" type="q17:ArrayOfRelationCategorieRequirement" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCategoryAndRequirementRelationsByRequirementID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SessionID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="requirementID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCategoryAndRequirementRelationsByRequirementIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/myRequirementsWebService" minOccurs="0" name="getCategoryAndRequirementRelationsByRequirementIDResult" nillable="true" type="q18:ArrayOfRelationCategorieRequirement" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCategoryAndPattnerRelationsByCategoryID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SessionID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="categoryID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCategoryAndPattnerRelationsByCategoryIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/myRequirementsWebService" minOccurs="0" name="getCategoryAndPattnerRelationsByCategoryIDResult" nillable="true" type="q19:ArrayOfRelationCategoriePattern" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCategoryAndPattnerRelationsByPatternID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SessionID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="patternID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCategoryAndPattnerRelationsByPatternIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/myRequirementsWebService" minOccurs="0" name="getCategoryAndPattnerRelationsByPatternIDResult" nillable="true" type="q20:ArrayOfRelationCategoriePattern" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPatternAndRequirementRelationsByPatternID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SessionID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="patternID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPatternAndRequirementRelationsByPatternIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/myRequirementsWebService" minOccurs="0" name="getPatternAndRequirementRelationsByPatternIDResult" nillable="true" type="q21:ArrayOfRelationPatternRequirement" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPatternAndRequirementRelationsByRequirementID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SessionID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="requirementID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPatternAndRequirementRelationsByRequirementIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/myRequirementsWebService" minOccurs="0" name="getPatternAndRequirementRelationsByRequirementIDResult" nillable="true" type="q22:ArrayOfRelationPatternRequirement" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPatternAndPrivateRequirementRelationsByPatternID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SessionID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="patternID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPatternAndPrivateRequirementRelationsByPatternIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/myRequirementsWebService" minOccurs="0" name="getPatternAndPrivateRequirementRelationsByPatternIDResult" nillable="true" type="q23:ArrayOfRelationPatternPrivateRequirement" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPatternAndPrivateRequirementRelationsByPrivateRequirmentID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SessionID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="privateRequirementID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPatternAndPrivateRequirementRelationsByPrivateRequirmentIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/myRequirementsWebService" minOccurs="0" name="getPatternAndPrivateRequirementRelationsByPrivateRequirmentIDResult" nillable="true" type="q24:ArrayOfRelationPatternPrivateRequirement" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCategoryAndPrivateRequirementRelationsByCategoryID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SessionID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="categoryID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCategoryAndPrivateRequirementRelationsByCategoryIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/myRequirementsWebService" minOccurs="0" name="getCategoryAndPrivateRequirementRelationsByCategoryIDResult" nillable="true" type="q25:ArrayOfRelationCategoriePrivateSecurityRequirement" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCategoryAndPrivateRequirementRelationsByPrivateRequirementID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SessionID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="privateRequirementID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCategoryAndPrivateRequirementRelationsByPrivateRequirementIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/myRequirementsWebService" minOccurs="0" name="getCategoryAndPrivateRequirementRelationsByPrivateRequirementIDResult" nillable="true" type="q26:ArrayOfRelationCategoriePrivateSecurityRequirement" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SessionID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/myRequirementsWebService.Data" minOccurs="0" name="getAllDataResult" nillable="true" type="q27:RequirementsAndPatternsAndCategoriesAndPrivRequirements" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllProjects">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SessionID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllProjectsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/myRequirementsWebService" minOccurs="0" name="GetAllProjectsResult" nillable="true" type="q28:ArrayOfProject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateNewProject">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SessionID" nillable="true" type="xs:string" />
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/myRequirementsWebService" minOccurs="0" name="project" nillable="true" type="q29:Project" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateNewProjectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateNewProjectResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateProject">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SessionID" nillable="true" type="xs:string" />
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/myRequirementsWebService" minOccurs="0" name="project" nillable="true" type="q30:Project" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateProjectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateProjectResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteProject">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SessionID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="projectID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteProjectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteProjectResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetActiveProject">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SessionID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="projectID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetActiveProjectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetActiveProjectResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="toggleActivePrivateRequirement">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SessionID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ProjectID" type="xs:int" />
        <xs:element minOccurs="0" name="PrivateRequirementID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="toggleActivePrivateRequirementResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="toggleActivePrivateRequirementResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="toggleActiveRequirement">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SessionID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ProjectID" type="xs:int" />
        <xs:element minOccurs="0" name="RequirementID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="toggleActiveRequirementResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="toggleActiveRequirementResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getStatisticsByProjectID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SessionID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ProjectID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getStatisticsByProjectIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/myRequirementsWebService.Data" minOccurs="0" name="getStatisticsByProjectIDResult" nillable="true" type="q31:Statistic" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllPSRP">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SessionID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllPSRPResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/myRequirementsWebService.Data" minOccurs="0" name="GetAllPSRPResult" nillable="true" type="q32:ArrayOfPrivateRequirment_PatternsAndCategoriesAndExamples" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateNewPSRP">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SessionID" nillable="true" type="xs:string" />
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/myRequirementsWebService" minOccurs="0" name="srp" nillable="true" type="q33:PrivateRequirement" />
        <xs:element minOccurs="0" name="projectID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateNewPSRPResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateNewPSRPResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePSRP">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SessionID" nillable="true" type="xs:string" />
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/myRequirementsWebService.Data" minOccurs="0" name="req" nillable="true" type="q34:PrivateRequirment_PatternsAndCategoriesAndExamples" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePSRPResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdatePSRPResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePSRP">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SessionID" nillable="true" type="xs:string" />
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/myRequirementsWebService" minOccurs="0" name="srp" nillable="true" type="q35:PrivateRequirement" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePSRPResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeletePSRPResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="createPrivateRequirementByRequirementID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SessionID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="requirementID" type="xs:int" />
        <xs:element minOccurs="0" name="privateRequirementID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="createPrivateRequirementByRequirementIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="createPrivateRequirementByRequirementIDResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>